@page "/groups/{id:Guid}/chat"
@model RealTimeChatSignalRLab.Pages.Chat.GroupChatMessagesModel
@{
    ViewData["Title"] = "Group Chat";
}
@Html.AntiForgeryToken()
<h4>@Model.Group.Name</h4>
<a class="btn btn-primary mt-3" href="#">View Member</a>

<div class="mt-1">
    <textarea id="member-emails" class="form-control" rows="2"></textarea>
    <div id="add-btn" class="btn btn-primary mt-1">Add Member</div>
</div>

<div class="btn btn-primary mt-3" onclick="viewmore()">View More</div>
<ul id="message-group-list" class="list-group mt-3">
    @foreach (var message in Model.Messages.OrderBy(x => x.Item2.SendTime))
    {
        var vietnamTimeZone = TimeZoneInfo.FindSystemTimeZoneById("SE Asia Standard Time");
        var dateTime = new DateTime(message.Item2.SendTime);
        var vietnamDateTime = TimeZoneInfo.ConvertTimeFromUtc(dateTime, vietnamTimeZone);

        <li class="list-group-item">
            <div class="btn float-start">@message.Item1.Fullname</div>
            <div class="btn float-start">@message.Item2.Content</div>
            <div class="btn float-end">@(vietnamDateTime.ToString("HH:mm:ss dd/MM/yyyy"))</div>
        </li>
    }
</ul>
<div>
    <textarea id="message-content" class="form-control" rows="5"></textarea>
    <div id="send-btn" class="btn btn-primary mt-2">Send</div>
</div>
<script>
    connection.start().then(function () {
        connection.invoke("SeenGroupMessage", '@Model.Id').catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function (err) {
        console.error(error.toString())
    });

    connection.on("GroupMessage", function (message, group, username) {
        pushNewMessage(message, group, username, true);
        seenMessage();
    });

    function pushNewMessage(message, group, username, toTheEnd) {
        let li = document.createElement('li');
        li.classList.add('list-group-item');

        let div1 = document.createElement('div');
        div1.classList.add('btn', 'float-start');
        div1.textContent = username;

        let div2 = document.createElement('div');
        div2.classList.add('btn', 'float-start');
        div2.textContent = message.content;

        const date = new Date(message.sendTime / 10000 - 62135596800000);
        let div3 = document.createElement('div');
        div3.classList.add('btn', 'float-end');
        div3.textContent = date.toLocaleString('vi-VN', options);

        li.appendChild(div1);
        li.appendChild(div2);
        li.appendChild(div3);

        let container = document.getElementById('message-group-list');
        if (toTheEnd) {
            container.appendChild(li);
            return;
        }
        container.insertBefore(li, container.firstChild);
    }

    document.getElementById("send-btn").addEventListener("click", function (event) {
        const messageElm = document.getElementById("message-content");
        const message = messageElm.value;
        if (message.trim().length == 0) {
            return;
        }
        messageElm.value = '';
        connection.invoke("SendMessageToGroup", '@Model.Id', message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });

    document.getElementById("add-btn").addEventListener("click", function (event) {
        const memberElm = document.getElementById("member-emails");
        const members = memberElm.value;
        members.value = '';
        connection.invoke("AddMemberToGroup", members, '@Model.Id').catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });

    function seenMessage() {
        connection.invoke("SeenGroupMessage", '@Model.Id').catch(function (err) {
            return console.error(err.toString());
        });
    }

    let pageIndex = 2;
    const offsetTime = @Model.Messages.Max(mess => mess.Item2.SendTime);
    function viewmore() {
        const url = '@Url.Page("/Chat/GroupChatMessages", new {Id = Model.Id})';
        let data = `index=${pageIndex}`;
        if (offsetTime && offsetTime > 0) {
            data += `&offsetTime=${offsetTime}`;
        }
        send(url, data, ajaxCallBack);
    }

    function ajaxCallBack(data) {
        var jsonData = JSON.parse(data);
        console.log(jsonData);
        if (jsonData.length > 0) {
            pageIndex++;
            jsonData.forEach(function (message) {
                pushNewMessage(message.item2, null, message.item1.fullname, false);
            });
        }
    }
</script>